/** Media Queries **/
@mixin mobile {
    @media (min-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin button($bgColor) {
    background-color: $bgColor; 
    color: $white;
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin-top: $separation /2;
    font-weight: bold;
    display: inline-block;
    transition: background-color .2s ease;
    border: none;

    &:hover {
        background-color: darken($bgColor, 8);
        cursor: pointer;
    }
}

@mixin gridAuto($size: 30rem){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($size, 1fr));
    gap: 2rem;
}