@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// fonts
$principal-font: 'Lato', sans-serif;

//  Media Queries sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// colors
$black: #000000;
$yellow: #E08709;;
$green: #71B100;
$white: #FFFFFF;
$gray: #e1e1e1;
$dark-gray: #333333;
$cake-red: #ff6b6b;
$dark-blue: #00415a;
$davis-gray: #555;

$separation: 5rem;

// font weights
$thin: 300;
$regular : 400;
$bold: 700;
$black: 900