.no-webp .principal{
   background-image: url(../img/header3.jpg);
}

.webp .principal {
   background-image: url(../img/header3.webp);
}

.header {
   background-color:$dark-blue;
   padding: 1 0 4rem 0;
}

.header-content {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
   background-position: center center;
   background-size:cover;
   
 @include tablet {
       min-height: 55rem;
   }

     
     &.principal {
      @include tablet{
         max-height: 60rem;
      } 

   h1{
      text-align: left;
      font-weight: bold;
      color: $white;
      -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black;
   }

}
}