@include tablet {
    .us-icons {
    @include grid(3, 2rem);
}
}

.icon {
    padding: 2rem;
    border-radius: 1.5rem;
    background: $white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.06);
    transition: transform .2s ease, box-shadow .2s ease;
    text-align: center;

    &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
    }
    text-align: center;
    img {
        height: 10rem;
        margin-bottom: 1rem;
    }
    h3{
        color: $dark-blue;
        margin-bottom: 1rem;
        border-bottom: 2px solid $cake-red;
        display: inline-block;
        padding-bottom: .5rem;
    }
    p {
        color: $davis-gray;
    }
}

main {
    h1{
       
  color: #00415a;

    }
}