.bar {
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
        &-logo{
            width: 200%;
        }
    }

}


.navegation {
    padding-bottom: 1rem;

    @include tablet {
        display: flex;
        align-items: center;
        padding: 0;
    }

    a{
    color: $white;
    font-weight: 600;
    font-size: 2.2rem;
    display: block;
    text-align: center;
     @include tablet {
        margin: 1.5rem;
        font-size: 1.8rem;
    }
    }

}